<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group page</title>
    <link rel="stylesheet" href="styles/project_groups_students.css">
    <link rel="stylesheet" href="styles/navigation_bar.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body onload="loadGroups()">

    <!--NAVIGATION BAR START-->
    <nav>

      <label class ="logo">Groups</label>
  
      <!-- log out button -->
      <a onclick="return confirm('Are you sure you want to log out now?');" href = "/index">
        <label class = "log_out">
          <i class="fas fa-sign-out-alt"></i>
        </label>
    </a>
      
      <!-- home button -->
      <a href = "/select_project_students"><input type = "button" id = "home">
      <label for = "home" class = "homebtn">
        <i class='fas fa-home'></i>
      </label></a>
  
  
      <!-- go back button -->
      <a href = "/select_project_students">
        <label for = "back" class = "backbtn">
          <i class="far fa-arrow-alt-circle-left"></i>
        </label></a>
  
    </nav>
    <!--NAVIGATION BAR END-->
    <br><br><br><br>

  <!-- A table for groups -->
  <table id="group_table">

    <thead>
      <tr>
        <th>MY GROUP</th>
      </tr>
    </thead>

    <tbody>
    
    </tbody>

  </table>

  
    <script>
      var studentProjects = '<%- JSON.stringify(currentStudentProjects) %>';
      var studentGroup = '<%- studentProjectSelectedGroup %>';
      var membersList = '<%- JSON.stringify(members) %>';
    </script>
    <script src="/javascripts/project_groups_students.js"></script>
    
</body>
</html>


