<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Sign Up Page</title>
  <link rel="stylesheet" href="/styles/navigation_bar.css">
  <link rel="stylesheet" href="/styles/signup_page.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

  <!--NAVIGATION BAR START-->
  <nav>
    <label class ="logo">Task Tracker</label>

    <!--FIRST HOMEPAGE BUTTON-->
    <a href = "/index"><input type = "button" id = "home">
    <label for = "home" class = "homebtn">
      <i class='fas fa-home'></i>
    </label></a>
  </nav>
  <!--NAVIGATION BAR END-->

  <!--SIGN UP BOX-->
  <div class = "sign-up-box">
    <br><h1 class = "signup-title"> SIGN UP </h1>
    <div class = "button-box">
      <div id = "btn"></div>
      <button type = "button" class = "toggle-btn" onclick="studentSignUp()">Student</button>
    </div>

    <!-- for student sign up-->
    <form id = "student-signup" class = "input-group" method = "post" action = "/signup_page">
    <p><input type = "text" class ="input-field" name = "studentName" placeholder="Name" required></p>
    <p><input type = "text" class = "input-field" name = "studentUsername" placeholder="Username" required></p>
    <p><input type = "text" class ="input-field" name = "studentPassword" placeholder="Password" required></p>
    <br><br><button type = "submit" class = "signup-btn">Sign Up</button>

    <br><a href = "/index"><input type = "button" value = "Go Back"></a>
    </form>

  </div>
  <!--SIGN UP BOX END-->

</body>
</html>

